@import url('normalize.css');

.card-block, .card-ring {
  padding: 10px;
}
.card-block > img, .card-ring > img {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
  border: solid 1px black;
  border-radius: 5px;
  cursor: hand;
}
.card-block > img:nth-child(1n+2) {
  margin-left: 5px;
}
.card-block.stack {
  position: relative;
}
.card-block.stack > img {
  position: absolute;
  margin-left: 0px;
  top: 10px;
}
.card-block.stack > img:hover {
  z-index: 9999 !important;
  top: 7px;
  width: 56px;
  height: 56px;
}
.card {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: solid 1px black;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 5px;
}
.card.empty {}
.card.invited {
  background-color: gray;
  background-image: url(../img/face-invited.gif);
  background-position: center center;
}
.card.add {
  background-color: #008000;
  font-family: arial, sans-serif;
  font-size: 24px;
  color: white;
}
.card.add:after {
  content: '+';
}