@import url('normalize.css');
@import url('bootstrap-3.0.0.min.css');

.card-block {
  margin: 0px;
  padding: 0px;
}
.card-block-row {
  margin: 10px;
}
.card-ring {
  border-radius: 180px;
  border: solid 1px gray;
  height: 360px;
  margin: 10px auto;
  padding: 0px;
  position: relative;
  width: 360px;
}
.card-block img.card, .card-ring .card {
  border-radius: 5px;
  border: solid 1px black;
  cursor: hand;
  display: inline-block;
  height: 50px;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  width: 50px;
}
.card-block img.card:nth-child(1n+2) {
  margin-left: 5px;
}
.card-block.stack > .card-block-row {
  position: relative;
}
.card-block.stack img.card {
  margin-left: 0px;
  position: absolute;
}
.card-block.stack img.card:hover {
  height: 56px;
  text-decoration: none;
  top: -3px;
  width: 56px;
  z-index: 9999 !important;
}
.card.add {
  background-color: #008000;
  border-radius: 5px;
  border: solid 1px black;
  color: white;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 50px;
}
.card.add:after {
  content: '+';
}
.card-ring > .card {
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}
.card:hover, .card:focus {
  text-decoration: none;
}